package templates

templ header(title string){
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{title}</title>
    </head>
}

templ Layout(contents templ.Component, title string){
    <!DOCTYPE html>
    <html lang="en">
    @header(title)
    <body>
        @contents
    </body>
    </html>
}